{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('registration.static', filename = 'css/reg.css') }}">
    <script src = "{{ url_for('registration.static', filename = 'js/reg.js') }}" defer>
        
    </script>
{% endblock style %}

{% block title %}
    Registration
{% endblock %}

{% block content %}

    <a href="/registration/">REGISTRATION</a>

    <div class="background"></div>

    <form method = "post" id = "reg_content">
        <p>Login</p>
        <input type="text" name = "login">
        <p>Email</p>
        <input type="email" name = "email">
        <p>Password</p>
        <input type="password" name = "password">
        <p>Password confirmation</p>
        <input type="password" name = "password confirmation">

        <button id="sendbutton" name = "senbutton">SEND</button>    

        <div class="firstmodal" id="firstModal">
            <div class="firstmodal-content">
                <h1>CONFIRMED</h1>
                <button id = "linkreg">
                    → AUTHORIZATION
                </button>
                    

            </div>
        </div>
              
    </form>


    

{% endblock %}