{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename = 'css/home.css') }}">
    <script  src = "{{ url_for('home.static', filename = 'js/home.js') }}" defer></script>
{% endblock style %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

    <p>Home Page</p>
    {% if name != "" %}
        <div class = "links">
            <a href="/" id= "linkhome">HOME</a>
            <a href="/shop/">SHOP</a>
            <a href="/cart/">            
                <div class = "basket">
                    CART 
                    <div class = "bgcounter" style="display: none;" id='basketcount' >
                        <p id = "counter" >1</p>
                    </div>
                </div>
            </a>
            <a href="/contacts/">CONTACTS</a>
            {% if is_admin == 'admin' %}
                <a href="/adminshop/">ADMIN</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

